page-pendingForms {
	.strongLabel {
		font-weight:bold;
		color:#686868
	}
	.strongLabelError {
		font-weight:bold;
		color:#c44c3e;
	}
	.empty_number, .bugs_number{
		text-align: center;
	}
	.edit-button{
		color: #536d38;
		background-color: #ffffff;
	}
	.delete-button{
    color: #c44c3e;
    background-color: #ffffff;
  }
	.icon-trash{
		color: #c44c3e;
	}
}
