<ion-header id="header">
	<ion-navbar color="primary">
		<ion-title id="miCuarentenaTitle">Mi cuarentena</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="cerrarSesion()">
				<ion-icon id="logOutIcon" name="custom-logout"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card id="nivelExposicion">
        <ion-card-title>
            Nivel de exposición
            <ion-icon id="info" name="ios-information-circle-outline"
                      style="float: right;" (click)="scoreInformation()">
            </ion-icon>
        </ion-card-title>

        <ion-card-content>
        <div class="circle-container" style="text-align: center;">
            <div class="circle" [ngClass]="{
                'green': currentScore <= 1,
                'orange': currentScore > 1 && currentScore <= 2,
                'red': currentScore > 2 && currentScore <= 3
            }">
                <span class="circle-text">Actual</span>
            </div>
        </div>
    </ion-card-content>
    </ion-card>

    <h4 class="subTitulo">
        Exposición diaria
    </h4>

    <div>
        <div class="day1">01h</div><div class="days">06h</div><div class="days">12h</div><div class="days">18h</div><div class="day24"></div>
    </div>
    <div id="score-bar">
        <div class="score-square" *ngFor="let score of scores"  [ngStyle]="{ 'background-color': score.color }"></div>
    </div>

    <h4 id="ubicacionCasaTitle" class="subTitulo">
        Ubicación de la casa
        <ion-icon id="infoUbicacion" name="ios-information-circle-outline"
                  (click)="infoUbicacionCasa()">
        </ion-icon>
    </h4>

    <div class="container">
        <div class="form-body">
            <ion-grid id="gridUbicacionCasa">
                <ion-row>
                    <ion-col id="iconColumn">
                        <ion-icon id="locationIconGreen" name="pin" *ngIf="homeLocationDate !== undefined"></ion-icon>
                        <ion-icon id="locationIconRed" name="pin" *ngIf="homeLocationDate == undefined"></ion-icon>
                    </ion-col>
                    <ion-col id="radiusColumn">
                        <ion-input id="inputRadioCasa" type="number" min="2" [(ngModel)]="homeRadius" placeholder="RADIO DE CASA"></ion-input>
                    </ion-col>
                    <ion-col id="saveColumn">
                        <button id="enviarUbicacionButton" ion-button (click)="registerHomeHandler()">
                            <p id="enviarRadioText">Guardar</p>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
