page-medical {

    .container {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .description {
        font-size: 16px;
    }

    ion-select {
        margin: 0 auto;
        max-width: 70% !important;
    }

    .button {
        margin-bottom: 10px;
    }

}
