<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Formularios
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="cerrarSesion()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <div padding>
        <ion-card class="rounded-edges" *ngFor="let template of infoTemplates;let i = index">
            <ion-card-header>
                <ion-card-title>{{ template.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="template.type == 'SIMPLE'">
                <button ion-button size="small" (click)="startForm(template, template.type, i)">Empezar</button>
            </ion-card-content>

            <ion-card-content *ngIf="template.type == 'COMPUESTA'">
                <ion-item align-self-center col-12>
                    <ion-select col-12 style="padding-left:0;" okText=ACEPTAR cancelText=CANCELAR [(ngModel)]="select_tipo_compuesta" placeholder="TIPO DE ENCUESTA">
                        <!--ion-option *ngFor="let type of template.quantity" value={{type.type}}>{{ getType(type) }}</ion-option-->
                        <ion-option value="initial">DATOS PERSONALES</ion-option>
                        <ion-option value="follow_up">AUTO DIAGNÓSTICO</ion-option>
                    </ion-select>
                </ion-item>
                <button [disabled]="!select_tipo_compuesta" ion-button size="small" (click)="startForm(template, select_tipo_compuesta, i)">Empezar</button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>