score-scale {

    #score-bar {
        height: 25px;
        width: 100%;
        border: 0;
    }

    .score-square {
        display: inline-block;
        height: 100%;
        width: 4.15%;
        color: #ffffff  ;
        border: 1px solid #ffffff;
    }

    .days {

        display: inline-block;
        width: 25%;
        text-align: left;

    }
    .day1 {

        display: inline-block;
        width: 21%;
        text-align: left;

    }

    .day24 {

        display: inline-block;
        width: 4%;
        text-align: left;

    }

}
