page-test-results {

    .pin-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .description {
        font-size: 16px;
    }

    .form {
        text-align: center;
    }

    ion-input {
        background-color: #eeeeee;
        padding-left: 10px;
        padding-right: 10px;
    }

    input {
        text-align: center;
        font-size: 16px;
    }

    .button {
        margin-top: 15px;
    }

    .result-container {

        display: grid;
        row-gap: 10px;

    }

    .result-text {
        font-size: 16px;
    }

    .result1-label {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .value-1 {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .result2-label {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .value-2 {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .advice {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .advice-title {
        font-weight: bold;
        text-align: center;
    }

    .advice-content {
        text-align: justify;
    }

    .result-value {
        background-color: #eeeeee;
        padding: 10px;
        border-radius: 2px;
        text-align: center;
    }

    .not-found-message {
        font-weight: bold;
        color: #FF0000;
        text-align: center;
    }

}
