{% extends "base.html" %}

{% load static %}

{% block title %}AutoSalud - Ingreso{% endblock %}

{% block menu %}
  <li ><a class="labels h4 " href="#">Bienvenido, Laboratorista 001</a> </li>
{% endblock %}
{% block body %}
<div class="reserver"></div>
	<div class="container">
		
		<div class="row">
			<div class="col-md-9">
				<table id="tests" class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Cédula</th>
							<th>Referencia</th>
							<th>Fecha de Recolección</th>
							<th>Estado</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

	
{% endblock %}

