body {
  margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bfa42d;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px !important;
}

ul.topnav li a:hover:not(.active) {
  background-color: #a78f26;
}


ul.topnav li a.active {
  background-color: #4CAF50;
}

ul.topnav li.right {
  float: right;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button.cancel {
  background-color: #ffffff;
  border: 1px solid #536d38;
  color: #536d38;
}

.button.danger {
  background-color: #dd544f;
  border: 1px solid #dd544f;
  color: #ffffff;
}

.button.danger.right {
  float: right;
}

.button.default {
  background-color: #536d38;
  border: 1px solid #536d38;
  color: #ffffff;
}

.button:hover {
  text-decoration: none;
}

.button.cancel:hover {
  color: #536d38;
}

.button.danger:hover {
  color: #ffffff;
}

.button.default:hover {
  color: #ffffff;
}
.fade.in{
  opacity: 1;
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

button.btn.btn-default.right {
  float: right;
  background: #dd544f;
  color: white;
}

button.btn.btn-success,
button.btn.btn-success:active,
button.btn.btn-success:visited,
button.btn.btn-success:hover {
  background-color: #536d38;
  border-color: #536d38;
}

.messages {
  padding-left: 0px;
}
td a{
  color: #536d38;
}
td a:hover{
  color: #82ad57;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
