{% extends "base.html" %}
{% load static %}
{% block titulo %}INSAVIT{% endblock %}
{% block extraStyle %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
{% endblock %}
{% block content %}
<div class="container">
  <h2>Crear Plantilla</h2>
  <form action="{% url 'create-template' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="formname">Nombre de formulario</label>
      <input type="text" class="form-control" id="formname" name="formname" value="" required>
    </div>
    <div class="form-group">
      <label for="setname">Nombre del Conjunto de datos</label>
      <input type="text" class="form-control" id="setname" name="setname" value="" required>
    </div>
    <div class="form-group">
      <label for="type">Tipo de formulario</label>
      <select name="type" class="form-control">
        {% for type in template_types %}
        <option value="{{type.code}}">{{type.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="file">Seleccione un archivo</label>
      <input type="file" class="form-control" id="file" name="file" value="" accept=".json" required>
    </div>
    <div class="form-group">
      <label for="quantity">Cantidad</label>
      <input type="number" class="form-control" id="quantity" name="quantity" value="">
    </div>
    <div class="form-group">
      <label for="gps">Requiere GPS</label>
      <input type="checkbox" id="gps" name="gps" value="true">
    </div>
    <a href="{% url 'templates' %}" class="button cancel">Cancelar</a>
    <button type="submit" class="btn btn-success">Crear</button>
  </form>
</div>
{% endblock %}
