page-test-results {

    .pin-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .form {
        text-align: center;
    }

    ion-input {
        background-color: #eeeeee;
        padding-left: 10px;
        padding-right: 10px;
    }

    input {
        text-align: center;
        font-size: 16px;
    }

    #searchButton {
        margin-top: 15px;
        font-weight: bold;
        text-align: center;
        margin:auto;
        display:block;
    }

    #actualizarButtonText{
        color: #eeeeee;
        margin-top: 5%;
    }

    #ingresaCodigoInput, .button, ion-card{
        border-radius: 10px !important;
    }

    .result-container {

        display: grid;
        row-gap: 10px;

    }

    .result-text {
        font-size: 16px;
    }

    .result1-label {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .value-1 {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .result2-label {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .value-2 {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .advice {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .title,.advice-title {
        font-weight: bold;
        text-align: center;
    }

    .advice-title{
        color:#23427C;
    }
    .advice-content {
        text-align: justify;
        color:#23427C;
    }

    #tabTitle {
        text-align: left;
    }

    .result-value {
        background-color: #eeeeee;
        padding: 10px;
        border-radius: 2px;
        text-align: center;
    }

    .not-found-message {
        font-weight: bold;
        color: #FF0000;
        text-align: center;
    }

    .icon{
        color: #eeeeee;
        display: inline-block;
    }

    #buscarButtonText{
        color: #eeeeee;
        margin-top: 15%;
        font-weight: bold;
        
    }

    #usersIdsText{
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 5%;
    }

    .description {
        font-size: 16px;
        text-align: justify;
    }
}