page-modalEditarFormulario {
    ion-select {
        max-width: 70% !important;
    }
    .error {
    	font-style:italic;
    	font-size:10px;
    	//color:rgb(255, 187, 124);
    	color:rgb(255, 166, 58);
    	opacity:0.9
    }
    .errorInputFormularioExiste {
    	border: 1px solid rgba(255, 166, 58,0.9);
    }
    .row,.col,.col-1 {
    	padding:0px;
    	margin:0px;
    }
}
