home-information {
    .button {
        border-radius: 10px !important;
    }

    .button span {
        font-weight: bold;
        color: #eeeeee;
    }

    #buttons-container {
        text-align: center;
    }
}
