<ion-card>
    <ion-card-content>
        <ion-item>
            <ion-label>Lugar</ion-label>
            <ion-select [(ngModel)]="selectedPlace" (ionChange)="placeChangeHandler()">
                <ion-option *ngFor="let place of places" [value]="place">{{ place }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Parámetro</ion-label>
            <ion-select [(ngModel)]="selectedParameter">
                <ion-option *ngFor="let parameter of getAvailableParametersByPlace(selectedPlace)" [value]="parameter">{{ parameter }}</ion-option>
            </ion-select>
        </ion-item>
        <h3 style="text-align:center; font-weight: bold;">Evolución de {{ selectedParameter }} ({{ selectedPlace }})</h3>
        <time-series-plot [data]="getInfoByPlace(selectedPlace)" [parameter]="selectedParameter" [area]="selectedPlace"></time-series-plot>
        <br />
        <p style="text-align: center; color: #777777;">Actualizado al {{ getDateFromeTimestamp(generalInfo['LAST INFOGRAFIA']['FECHA']) }} (INFOGRAFÍA N° {{ generalInfo['LAST INFOGRAFIA']['NÚMERO'] }})</p>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-item>
            <ion-label>Lugar 1</ion-label>
            <ion-select [(ngModel)]="selectedPlace1">
                <ion-option *ngFor="let place of getAvailablePlaces(selectedPlace2)" [value]="place">{{ place }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Lugar 2</ion-label>
            <ion-select [(ngModel)]="selectedPlace2">
                <ion-option *ngFor="let place of getAvailablePlaces(selectedPlace1)" [value]="place">{{ place }}</ion-option>
            </ion-select>
        </ion-item>
        <h3 style="text-align:center; font-weight: bold;">Evolución de CASOS CONFIRMADOS <br /> {{ selectedPlace1 }} vs. {{ selectedPlace2 }}</h3>
        <time-series-compare-plot
        [place1]="selectedPlace1"
        [place2]="selectedPlace2"
        [data]="fullInfo"
        [parameter1]="'CASOS CONFIRMADOS'"
        [parameter2]="'CASOS CONFIRMADOS'"></time-series-compare-plot>
        <br />
        <p style="text-align: center; color: #777777;">Actualizado al {{ getDateFromeTimestamp(generalInfo['LAST INFOGRAFIA']['FECHA']) }} (INFOGRAFÍA N° {{ generalInfo['LAST INFOGRAFIA']['NÚMERO'] }})</p>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-item>
            <ion-label>Parámetro 1</ion-label>
            <ion-select [(ngModel)]="selectedParameter1">
                <ion-option *ngFor="let parameter of getAvailableParametersBySelectedParameter(selectedParameter2)" [value]="parameter">{{ parameter }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Parámetro 2</ion-label>
            <ion-select [(ngModel)]="selectedParameter2">
                <ion-option *ngFor="let parameter of getAvailableParametersBySelectedParameter(selectedParameter1)" [value]="parameter">{{ parameter }}</ion-option>
            </ion-select>
        </ion-item>
        <h3 style="text-align:center; font-weight: bold;">Evolución de {{ selectedParameter1 }} vs. {{ selectedParameter2 }} a nivel Nacional</h3>
        <time-series-compare-plot
        [place1]="'NACIONAL'"
        [place2]="'NACIONAL'"
        [data]="nacionalInfo"
        [parameter1]="selectedParameter1"
        [parameter2]="selectedParameter2"
        ></time-series-compare-plot>
        <br />
        <p style="text-align: center; color: #777777;">Actualizado al {{ getDateFromeTimestamp(generalInfo['LAST INFOGRAFIA']['FECHA']) }} (INFOGRAFÍA N° {{ generalInfo['LAST INFOGRAFIA']['NÚMERO'] }})</p>
    </ion-card-content>
</ion-card>
