<ion-header>
	<ion-navbar color="primary">
		<ion-title>Nuestra cuarentena</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="cerrarSesion()">
				<ion-icon name="log-out"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="status-container" padding>
        <p>Mi estado</p><span class="status"><p>Saludable</p></span>
    </div>
    <!--div *ngFor="let person of people" class="person-container">
        <p>{{ person.name }}</p>
        <score-scale></score-scale>
    </div-->

    <ion-card *ngFor="let person of people" style="text-align: center;">

        <ion-card-header>
            <h3>{{ person.name }}</h3>
        </ion-card-header>

        <ion-card-content>
                <score-scale></score-scale>
        </ion-card-content>
    </ion-card>
</ion-content>
