page-profile {

    .pin-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .description {
        font-size: 16px;
    }

    .form {
        text-align: center;
    }

    ion-input {
        background-color: #eeeeee;
        padding-left: 10px;
        padding-right: 10px;
    }

    input {
        text-align: center;
        font-size: 16px;
    }

    .copied-alert {
        color: red;
        opacity: 1;
        transition: opacity 0.2s;
    }

    .hidden-copy-message {
        opacity: 0;
        transition: opacity 1.2s;
    }

    .button {
        margin-top: 15px;
    }

}
